/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.ant-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
} */
